.app {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: center;
  height: 20vh;
  color: white;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 5px;
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 10vh;
  padding: 5px;
}



